
##################################### user related settings #####################################

import os

# base folder for all relative paths
base_folder = os.path.expanduser('~')

# Use GPU? Default is True.
#caffevis_mode_gpu = False

# network selection, for network settings see file settings_local.py
model_to_load = 'model'
#model_to_load = 'caffenet_yos'
